header a {
    margin: 0 auto;
}

.page-movie {
    margin-top: 50px;
    width: 100%;
}

.card {
    height: 100%;
}

.card .title {
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: #dadada;

    align-items: center;
}

.card .title h2 {
    padding-left: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Abel', sans-serif;

    color: var(--color-blue-tittle);
}

.card .title p {
    padding-right: 1.2rem;

    text-align: end;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'Lato', sans-serif;

    color: #9c9c9c;
}

.text-movie {
    padding-top: 2.4rem;
}

.information {
    display: grid;
    grid-template-columns: 1fr 175px;

    background-color: #d4d4d45b;
}

.information fieldset,
.values fieldset {
    border: none;
    padding: 1.2rem 2.4rem;

    font-size: 1.6rem;
    font-weight: normal;
    font-family: 'Abel', sans-serif;

    color: var(--color-blue-tittle);
}

.information legend,
.values legend {
    border-bottom: 1px solid var(--color-ligth-blue);
    width: 100%;
}

.information fieldset p {
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'Lato', sans-serif;

    color: black;
}

.information .movie-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-left: 1.4rem;

    gap: 1rem;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

.features h3 {
    font-family: 'Abel', sans-serif;
    font-size: 1.4rem;
    color: var(--color-blue-tittle);
}

.features p {
    font-size: 1.2rem;
}

.category {
    height: auto;
    padding: 2rem 0 2rem 5px;
}

.category span {
    background-color: var(--color-white);
    color: var(--color-blue-tittle);
    border: 1px solid var(--color-blue-tittle);

    padding: 0.2rem 0.8rem;

    border-radius: 2.8rem;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

.category .percent {
    margin: 20px auto 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue-tittle);
    
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
}

.category .percent-light-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-ligth-blue);
    border-radius: 50%;
        
    width: 8rem;
    height: 8rem;
}

.category .percent-light-blue > div {
    display: flex;
    align-items: center;
    background-color: var(--color-blue-tittle);
    
    border-radius: 50%;

    width: 6rem;
    height: 6rem;
}

.category .percent p {
    font-size: 1.8rem;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    color: var(--color-ligth-blue);
    margin: 0 auto;
}


iframe {
    margin-top: 30px;
    width: 100%;
    height: 65vh;
}






@media(min-width: 870px) {
    :root {
        font-size: 80%;
    }

    .container {
        max-width: 90vw;
    }

    .information {
        grid-template-columns: auto 246px;
    }
    
    .category {
        position: relative;
        padding: 4rem 0 10rem 5px;
    }

    .category .percent {
        display: inline-flex;
        margin: 0 auto 0;

        position: absolute;
        right: 3%;
    }

    .card .title h2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 2.5rem;
    }

    .features h3{
        font-size: 1.2rem;
    }

    .features p {
        font-size: 0.9rem;
    }

    .information fieldset p {
        font-size: 1rem;
    }

    .information .movie-image {
        height: 100%;
    }

    .information fieldset,
    .values fieldset {
        font-size: 1.8rem;
    }
    
}