<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Finder</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/page-index.css">

    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Movies</h1>
    </header>

    <div class="page-index container">
        <div class="search">
            <nav>
                <form id="formulario">
                    <input
                    type="text"
                    id="campo"
                    placeholder="Busque um filme por nome, ano ou gênero..."
                    >
                    <!-- <input type="submit" value="Enviar"> -->
                </form>
            </nav>
        </div>

        <div class="cards">

           {% for movie in movies %}
            <a href="/page-movie/{{movie.id}}">
                <div class="card" id={{movie.id}}>
                    <section
                        class="movie-image"
                        style="background-image: url({{movie.image}})"
                        alt="Imagem de {{movie.title}}"
                    ></section>
                    <div class="movie-informations">
                        <div class="title">
                           <h2>{{movie.title}}</h2> 
                        </div>
                        <div class="date">
                            {{movie.date}}
                        </div>
                        <div class="percent">
                            <div class="percent-light-blue">
                                <div>
                                    <p>{{movie.percent}}%</p>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <p>{{movie.text}}</p>
                        </div> 
                        <div class="areas">
                            {% for area in movie.areas %}
                                <span>{{area}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
           {% endfor %}

        </div>

        
    </div>

    <footer>
        
    </footer>

    <script src="/scripts/script.js"></script>
</body>
</html>