<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Finder</title>

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/page-movie.css">


        <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="/"><h1>Movies</h1></a>
        </header>

        <div class="page-movie container">
            <div class="cards">
                

                <div class="card" id={{movie.id}}>
                    <div class="title">
                        <h2>{{movie.title}}</h2>
                        <p>{{movie.date}}</p> 
                    </div>
                    
                    <div class="information">
                        <div class="text-movie">
                            <fieldset>
                                <legend>
                                    Sinopse
                                </legend>

                                <p>{{movie.text}}</p>
                            </fieldset>
                            
                            
                            <div class="values">
                                <div class="text-movie">
                                    <fieldset>
                                        <legend>
                                            Informações
                                        </legend>
                                    </fieldset>
                                </div>
        
                                <div class="features">
                                    <div>
                                        <h3>Situação</h3>
                                        <p>{{movie.situation}}</p>
                                    </div>
            
                                    <div>
                                        <h3>Idioma</h3>
                                        <p>{{movie.language}}</p>
                                    </div>
            
                                    <div>
                                        <h3>Duração</h3>
                                        <p>{{movie.duration}}</p>
                                    </div>
            
                                    <div>
                                        <h3>Orçamento</h3>
                                        <p>${{movie.estimatedValue}}</p>
                                    </div>
            
                                    <div>
                                        <h3>Receita</h3>
                                        <p>${{movie.incomeValue}}</p>
                                    </div>
            
                                    <div>
                                        <h3>Lucro</h3>
                                        <p>${{movie.profitValue}}</p>
                                    </div>
                                </div>
                            </div>                   
                            
                            <div class="category">
                                {% for area in movie.areas %}
                                    <span>{{area}}</span>
                                {% endfor %}

        
                                <div class="percent">
                                    <div class="percent-light-blue">
                                        <div>
                                            <p>{{movie.percent}}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            class="movie-image"
                            style="background-image: url({{movie.image}})"
                            alt="Imagem de {{movie.title}}"
                        ></div>
                    </div>
                    

                </div>

                <div class="card-video" id="{{movies.id}}">
                    <iframe
                        src="https://www.youtube.com/embed/{{movie.video}}" frameborder="0" allowfullscreen>
                    </iframe>
                </div>

            </div>
        </div>
        
    </body>

</html>